@import url(https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

body {
    margin:0px;
    font-family:'Source Sans Pro','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing:0.15em;
    font-size:14px;

}


/*NAVIGATION*/
    header .navigation{
        position:fixed;
        width:100%;
        background-color:rgba(0, 0, 0, 0.4);
        color:whitesmoke;
    }
    header ul{
        padding-right: 25px;
    }
    header .nav-header{
        padding-left:25px;
    }
    header nav ul li{
        list-style-type:none;
        float:right;
        transform: translateY(50%);/*vertically aligns nav*/

    }
    header nav ul li a{
        text-decoration:none;
        color:white;
        padding: 2px 15px 2px 15px;
        border:1px solid transparent;
        transition:0.2s ease;
    }
    header nav ul li:hover a{
        color:white;
        background-color:rgba(202, 116, 166, 0.8);
        border:1px solid white;
    }

/*MAIN CONTENT*/
    .intro-content{
        background:url(../images/One-and-Only-Reethi-Rah-Spa-room.jpg);
        background-size:cover;
        background-position:center;
        height:100vh;
    }
    .intro-caption{
        width:25%;
        height:100%;
        line-height:100vh;
        float:left;
        transition:0.8s ease;
        color:rgba(245, 245, 245, 0.00);
        text-align:center;
        font-size:22px;
        }
    .intro-caption:hover{
        background-color:rgba(0, 0, 0, 0.6);
        color:rgba(245, 245, 245, 1);
    }

/*MIDDLE CONTENT*/
    .photo-collection-one{
        margin:0;
        background-color:black;

    }
    .photo-collection-one img{
        width:20%;
        /*equal disposition of images*/
        padding-right: 1%;
        padding-left: 3%;
    }
       .clear{
            overflow:hidden;
        }

/*FOOTER*/
    footer{
        color:whitesmoke;
        width:100%;
        font-size:12px;
    }
    footer.bottom-content{
        height:75vh;
        background:url(../images/oo_reethi_rah_9.jpg);
        background-size:cover;
        background-position:top;
        background-attachment:fixed;
    }
    footer .opac-layer{
        background-color:rgba(0, 0, 0, 0.4);
        position:relative;
        width: 100%;
        height: 100%;
    }
    footer .footer-caption{
        text-align:center;
        background-color:rgba(0, 0, 0, 0.6);
        color:whitesmoke;
        margin: 0px;
        padding: 15px;
        font-size:22px;
    }
    
    footer .page-author{
        position:absolute;
        bottom:0;
        right:0;
    }
    footer .page-author::after{
        content:'Desktop';
        color:#90884f;
        }
   
/*SEPARATOR*/
.separator{
    background-color:rgba(0, 0, 0, 1);
    width:100%;
    padding-top:25px;
    padding-bottom:25px;
}
.separator-text{


    width:100%;
    padding-top:50px;
    padding-bottom:25px;
    color:black;

    text-align:center;
    /*padding-top:5%;*/ 
}

    /*PAGE-CONTACT */
    .contact-form{
    width:50vw;
    margin-left:auto;
    margin-right:auto;
}
    
    /*PAGE-ABOUT*/
    .about-menu{
        text-align:center;
    }
    .about-menu{
     background-color:rgba(0, 0, 0, 0.6);
     padding:1px 5px 1px 5px;
}
    .about-menu a{
        text-decoration:none;
        color:white;
        padding: 2px 15px 2px 15px;
        border:1px solid transparent;
        transition:0.2s ease;
}
    .about-menu li{
       list-style-type:none;
       margin: 5px 5px;

}
    .about-menu a:hover{
        background-color:rgba(181, 178, 89, 0.60);
        color:black;
         border:1px solid black;
         padding:1px 5px 1px 5px;

}
    .about-menu a:active{
        background-color:rgba(255, 127, 80, 0.6);
        color:black;
        border:1px solid black;
}

    .bg-img{
    background:url(../images/Reethi-Rah-Pool-01.jpg);
    background-size:cover;
    background-position:top;
    }

    .container{
        background-color:rgba(181, 178, 89, 0.60);
    }


/*MEDIA QUERIES*/
    /*Tablet*/
    @media (max-width: 768px) {
        .intro-caption{
        color:white;/*becaue we dont have a mouse for tablets and cellphones!*/
        background-color:rgba(0, 0, 0, 0.2);
        width:50%;
        line-height:50vh;
        }
        .clear{
            overflow:auto;
        }
        .intro-content{
            background-attachment:fixed;
            height:100%;/*so that all captions fit inside!*/
        }
        footer .page-author::after{
            content:'Tablet';
        }
        .photo-collection-one img{
            width:49%;
            margin:0;
            padding:0;
            /*wy do i have a small right margin here??*/
        }

        /*.separator-text p{
              background-color:rgba(254, 192, 0, 0.80);
        font-size:18px;*/
    }

    /*Cellphone*/
@media (max-width: 480px) {
    .intro-caption {
        width: 100%;
        height: 25%;
        line-height: 25vh;
    }

    .photo-collection-one img {
        width: 100%;
    }

    footer .page-author::after {
        content: 'Cellphone';
    }

    /*.separator-text p{
        background-color:rgba(254, 192, 0, 0.50);
        font-size:20px;
    }*/
}