@import url(https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700);

body {
    margin:0px;
    font-family:sans-serif;
    letter-spacing:0.12em;
    font-size:14px;
}


.navigation{
    position:fixed;
    width:100%;
    background-color:rgba(0, 0, 0, 0.4);
    color:whitesmoke;
    

}
header nav ul li{
    list-style-type:none;
    float:right;
    transform: translateY(50%);


}
header .nav-header{
    margin-left:25px;

}
header nav ul li a{
    text-decoration:none;
    color:white;
    padding-right:25px;
}


/*main content*/
.intro-content{
    background:url(../images/One-and-Only-Reethi-Rah-Spa-room.jpg);
    background-size:cover;
    background-position:center;
    height:100vh;
}
.intro-caption{
    width:25%;
    height:100%;
    line-height:100vh;
    float:left;
    transition:0.8s ease;
    color:rgba(245, 245, 245, 0.00);
    font-family:'merriweather sans';
    font-size:22px;
    text-align:center;
}
.intro-caption:hover{
    background-color:rgba(0, 0, 0, 0.6);
    color:rgba(245, 245, 245, 1);
}
footer{
    background-color:black;
    color:whitesmoke;

    width:100%;
    margin:0px;

    padding-top:5px;
    padding-bottom:5px;
}


/*Tablet*/
@media (max-width: 768px) {
    .intro-caption{
    float:left;
    width:50%;
    line-height:50vh;
    }
    .clear{
        overflow:auto;
    }
    .intro-content{
        background-attachment:fixed;
        height:100%;/*so that all captions fit inside!*/
    }

    footer::after{
        content:'Tablet';
        color:#90884f;
    }
}

/*Cellphone*/
@media (max-width: 480px) {
    .intro-caption{
        display:inline-table;
        width:100%;
        float:none;

        height:25%;
        line-height:25vh;
    }

    .intro-content{
        background-attachment:fixed;
        height:100%;/*so that all captions fit inside!*/
    }


    footer::after{
        content:'Cellphone';
        color:#90884f;
    }
    
}