@import url(default2.css);




/*FLIP*/
.card-container{
    width:20em;/*adapts when scaling window*/
    float:left;
    margin-bottom:50px;/*add some space below*/
}

.threedee-space{
    height:150px;
    width:200px;
    position:relative;
    text-align:center;/*puts text on back in center*/
    margin:20px auto;
    perspective:1000px;
}
.card{
    height:100%;
    width:100%;
    position:absolute;/*ontop of parent*/
    transform-style:preserve-3d;
    transition:0.4s ease-in-out;
}
.back{
    padding:5px;/*for readability*/
    color:white;
    transform:rotateY(180deg);
    background-color:rgba(0, 0, 0, 0.7);
    border:2px dashed white;
}
    
.flipper-figure{
    height:100%;
    width:100%;
    position:absolute;
    backface-visibility:hidden;
    margin:0;
}
.flipper-figure img{
    width: 100%;
    height: 100%;
}
.card:hover{
    transform:rotateY(180deg);
}