/*DEFAULTS*/
body{
    width:80vw;
    height:100vh;/*height same size as any viewport*/
    margin:auto;/*center content*/
    /*border:2px solid red;*/
        
    background-image:url(../images/MLEDT_oceanview_bedroom.jpg);
    background-attachment:fixed;
    background-size:cover;
    background-position:bottom;
}
.container{
    overflow:auto;/*brings background color back due to float*/

    background-color:rgba(0, 0, 0, 0.6);
    /*height:100%;*/
}

h2{
    background-color:black;
    color:white;
    padding:20px;
    margin-top:0; /*fill out top space on page*/
}

/*FLIP*/
.col-sm-6{
    width:20em;/*adapts when scaling window*/
    float:left;

}

.threedee-space{
    height:150px;
    width:200px;
    position:relative;
    text-align:center;/*puts text on back in center*/
    margin:20px auto;
    perspective:1000px;
}
.card{
    height:100%;
    width:100%;
    position:absolute;/*ontop of parent*/
    transform-style:preserve-3d;
    transition:0.4s ease-in-out;
}
.back{
    padding:5px;/*for readability*/
    color:white;
    transform:rotateY(180deg);
    background-color:rgba(0, 0, 0, 0.7);
    border:2px dashed white;
}
    
figure{
    height:100%;
    width:100%;
    position:absolute;
    backface-visibility:hidden;
    /*display:block;*/
    margin:0;
}
figure img{
    width: 100%;
    height: 100%;
}
.card:hover{
    transform:rotateY(180deg) /*rotateX(360deg)*/;
}