body{
    background-color:#82acca;
}

/*temporary*/
div.main-header{
    background:url(../images/4794101_93_z.jpg);
    background-repeat:repeat-x;
    background-position:right bottom;

    border:2px solid black;
    padding:25px 0px 25px 5px;
    color:#847043;

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
div.container-fluid{
    display:inline;
}
/*  ///temporary///  */

h1.main-header{
    background:url(../images/4794101_93_z.jpg);
    background-repeat:repeat-x;
    background-position:right bottom;

    border:2px solid black;
    padding:25px 0px 25px 5px;
    color:#847043;

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav.main-navigation{
    background-color: rgba(70, 65, 7, 0.7);
}

footer.bottom-footer{
    color:black;
}

div.main-content{
    background-color:dimgray;
}