@import url(default.css);

article.content{
    background-color:rgba(0, 0, 0, 0.4);
}
article .content-wrapper{
    background-color:rgba(0, 0, 0, 0.4);
    color:white;

}
article h2{
    margin-top:75px;
}
article .content-header h2{
    background-color:whitesmoke;
    color:black;
    border-radius:65% 40%;
}

/*contact page*/
input, select, textarea{
    /*for forms*/
    color:black;
}
legend{
    color:white;
}
form{
    margin-bottom:25px;
}

/*reviews page*/
.portrait{
   width:75%;
   margin-top:15px;
   margin-bottom:15px;
}
.portrait img{
    width:250px;
    border-radius:50%;
}
