body {
    font-family: sans-serif,'Trebuchet MS';
    letter-spacing: 0.1em;
    color: white;
    overflow-x: hidden; /*removes the annoying white space and vertical scrollbar*/
}

/*HEADER*/
    header .navbar-header{
        font-size:18px;
    }
    header nav {
        background-color:rgba(0, 0, 0, 0.80);
        border:1px solid black;
    }
    header nav ul li {
        list-style: none;
        float: right;
        padding: 5px; 
    }
    header nav ul li a{
        color:white;
        padding:10px;/*space between menu links*/
    }


/*ARTICLES*/
    /*ROW 1*/
    article .row-one{
        background:url(../images/MLEDT_oceanview_bedroom.jpg);
        background-size:cover;
        background-position:bottom;
        height:100vh;
    }
    article .row-one dl dt{
        color:#c36798;
    }
    article .row-one .textbox1, .textbox2{
        height: 100%;
        border:1px solid black;
        opacity: 0;
        border-radius: 4px;
        padding: 20px;/*so that i can see header..*/
        transition: all 0.4s ease;
        }
    /*ROW 2*/
    article .row-two{
        height:50vh;
    }
    article .row-two .row2-box1,.row2-box3{
            height:100%;
            opacity: 0;
            border:1px solid black;
            transition: all 0.4s ease;
            border-radius: 4px;
        }
    /*ROW 3*/
    article .row-three{
        background-color:black;
    }
    article .row-three .col-sm-6{
       padding:0px;
    }
    article .row-three img{
        padding:5px;
        background-color:rgba(0, 0, 0, 0.90);
        width:100%;/*img falls in place*/
        
        
    }

    /*ROW finalizer*/
    article .row-finalizer{
        background-color:rgba(0, 0, 0, 0.90);
    }
    article .row-finalizer div{
       padding:5px;
    }
    article .row-finalizer img {
         /*img falls in place*/
         width:100%;
    }

    article .row-finalizer figure{
        position:relative;
        margin-bottom:25px;/*push footer away alittle*/
    }
    article .row-finalizer figcaption{
        position:absolute;
        top:0;
        margin-left:25px;
    }
/*FOOTER*/
    footer.bottom-footer{
    background-color:rgba(0, 0, 0, 0.6);

}
