@import url(default.css);
body {
    background:url(../images/Ocean_Villa_Deck_2.jpg);
    background-size:cover;
    background-position:center;
    background-attachment:fixed;
}

.wrapper{
    background-color:rgba(0, 0, 0, 0.6);
}
.reviewer h2{
   color:#c36798;

}
.reviews{
    /*margin-top:65px;*/
    /*background-color:#dce1e7;*/
    background-color:white;
    border-radius:5px;
    
}
figure{
   width:75%;
   margin-top:15px;
   margin-bottom:15px;

}
figure img{
    width:250px;
    border-radius:50%;
}
figure figcaption{
    color:black;
}

.reviewhead{
        margin-top: 55px;
    text-align: center;
    color: white;
}