/*@import url("default.css");
@import url("commons.css");
@import url("cardflipper.css");*/

.container-fluid{
   background-color:cornflowerblue;
}


div.ocean{
    background-color:indianred;
}
    #thereef{
        height:100%;
        width:auto;
        position:relative;
    }

img.reefinhabitants {
    position:absolute;
    bottom:0;

}
    .shark{
    }
    
    .diver{
        /*border:3px solid black;*/
        top:0;
        animation: mover 4s infinite ease-in-out;
    }

    @keyframes mover {
    0% { transform: translateY(0); }
    50%{ transform:rotate(10deg);
         transform: translateY(20);}
    100% { 
        transform: translateY(-10px); 
        transform: translateY(0);}
}


.forms{
    /*background-color:cornsilk;
    padding:25px;*/
}
