body{
    background-color:#6699e9;
}
header{
    background-color:blanchedalmond; 
    width:100%;
}
article#maincontent{
    background-color:deepskyblue;
}


img{
    width:100%; /*(2) now with this, the pictures also shrink with the window.*/
    height: auto; /*"make height automatically adjust to the images size when scaling window screen"*/
    margin: 5px auto;
}
/*targeting all the separate divs of images/p and h*/
div.res-collapse{
   
    width:45%; /*(1) this one shrinks the green behind when minimizing window, but picture stays intact*/
    padding:5px;
    margin:10px;
    /*puts them in 2 and 2 disposition*/
    display:inline-block;
}
    div#one-fourth-first{
        background-color:yellowgreen;
    }

/* --- Tablet ---*/
@media only screen and (max-width: 768px) {
    div.res-collapse{
        /*will fill out screen 100% when screen size <768px*/
        width:100%;
    }
}

/* --- Mobile ---*/
@media only screen and (max-width: 480px) {
    div.res-collapse{
        width:100%;
    }
    div.res-collapse p{
        color:white;
    }
}