h1::after{
    content:" (desktop view!)";
    color:palevioletred;
}
body{
    background-color:#b0ebf6;
}
header{
    background-color:blanchedalmond; 
        width: 92%;
}
#wrapper{
    width:100%;
    margin-left:auto;
    margin-right:auto;
}
/*START OF NAVIGATION EDITS*/
#ul-navigation{
    margin-bottom: 20px;
    padding: 0px;
}
    #ul-navigation li{
    list-style:none;
    border:1px solid black;
    margin:2px;
    width:30%;
    
    background-color:black;
    }
    #ul-navigation li a{
        text-decoration:none;
        color:white;
    }
/*END OF NAVIGATION EDITS*/



img{
    max-width: 100%;
    height: auto;
    padding: 0px;
}
p.res-collapse{
   
    width:30%; 
    padding:2px;
    margin:2px;
    /*puts them in 2 and 2 disposition*/
    display:inline-block;
}
    p#one-fourth-first{
        background-color:navajowhite;
        border: 2px solid black;
    }
    p#one-fourth-second{
        background-color:navajowhite;
        border: 2px solid black;
    }
    p#one-fourth-third{
        background-color:navajowhite;
        border: 2px solid black;
    }
    p#one-fourth-fourth{
        background-color:navajowhite;
        width:92%;
        border: 2px solid black;
    }
        p#one-fourth-fourth img{
            width:100%;
        }


/* --- Tablet ---*/
@media only screen and (max-width: 768px) {
    /*START OF NAVIGATION EDITS*/
    ul{
    float: left;
    padding: 0px;
    margin: 0px;
    width:100%;
    }
        #ul-navigation li{
        list-style:none;
        border:1px solid black;
        margin:2px;
        width:30%;
        float:left;
        background-color:black;
        }
        #ul-navigation li a{
            text-decoration:none;
            color:white;
        }
    /*END OF NAVIGATION EDITS*/
    p.res-collapse{
        /*will fill out screen 100% when screen size <768px*/
        width:100%;
    }
      p.res-collapse p{
        font-size:110%;
        letter-spacing:0.02em;
    }
     p#one-fourth-fourth{
        background-color:navajowhite;
        width:100%;
        border: 2px solid black;
    }
         h1:after{
        content:" (tablet view!)";
        color:palevioletred;
    }
}

/* --- Mobile ---*/
@media only screen and (max-width: 480px) {
    /*START OF NAVIGATION EDITS*/
    ul{
    float: left;
    padding: 0px;
    margin: 0px;
    width:100%;
    }
        #ul-navigation li{
        list-style:none;
        border:1px solid black;
        margin:2px;
        width:30%;
        float:left;
        background-color:black;
        }
        #ul-navigation li a{
            text-decoration:none;
            color:white;
        }
    /*END OF NAVIGATION EDITS*/

    p.res-collapse{
        width:100%;
    }
    p.res-collapse p{
        font-size:120%;
        letter-spacing:0.02em;
    }
    h1:after{
        content:" (cellphone view!)";
        color:palevioletred;
    }
    
}